.target-image-container {
    @import '~shared/styles/generic.scss';

    padding: 10px 0 20px 0;

    .target-image {
        width: 128px;
        padding: 2px;
        border: 1px solid #4d90fe;
    }

    .target-image-description {
        display: inline-block;
        margin: 0 10px;
        vertical-align: top;
    }
}
