@import './variables.scss';

$formWidth: 350px;
$inputHeight: 40px;

.form {
  width: $formWidth;
  position: absolute;
  top: 10%;
  left: 50%;
  margin-left: -175px;
  font-size: 16px;

  h2 {
    color: #6D7781;
    font-size: 3.6em;
    font-family: "Sofia", cursive;
    text-align: center;
    margin-bottom: 20px;
  }

  input {
    border: 0;
    width: $formWidth;
    height: $inputHeight;
    font-size: 14px;
    font-weight: 100;
  }

  input[type="text"], input[type="password"] {
    padding: 15px 0;
    background: transparent;
    border-bottom: 1px solid #435160;
    outline: none;
    color: #6D7781;
  }

  label.err-label {
    color: $errMessageColor;
    font-size: 11px;
    font-weight: 200;
  }

  input[type="button"] {
    background: #1FCE6D;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    margin-top: 10px;
  }

  input[type="button"]:hover {
    background: #16aa56;
  }
}
