.search-result-list-container {
    border-top: 1px solid #d9d9d9;
    padding-bottom: 20px;

    .search-result-list-caption {
        margin: 20px 0;
    }

    .search-result-list {
        font-size: 0;
        display: flex;
        flex-flow: row wrap;

        & > * {
            flex: auto;
            width: 200px;
            padding: 2px;
        }

        & > * img {
            width: 100%;
            height: auto;
        }
    }
}
